*, *:after, *:before{
    margin: 0px;
    max-width: 100%;
    box-sizing: border-box;
    text-decoration: none;
    text-decoration-color: none;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    color: black;
}