section {
    height: 100vh;
    width: 100vw;
}

.main-container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: rgb(31,226,233);
    background: linear-gradient(145deg, rgba(31,226,233,1) 12%, rgba(9,0,71,1) 80%);
    padding: 10px;
}

.secondary-container {
    background-color: white;
    padding: 50px;
    border-radius: 10px;
}

.terciary-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.div-numeros {
    display: flex;
    flex-direction: column;
}

.numeros {
    border: 1px solid black;
    border-radius: 3px;
    width: 70%;
}

.container-resultado {
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 100%;
}

.main-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}