*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.main_section{
    margin: 0px 60px;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(17, 1fr);
    place-content: center;
    gap: 0px;
}

div {
    height: 50vh;
    border: 1px solid black;
    border-collapse: collapse;
    cursor: pointer;

}

div:nth-child(2),
div:nth-child(4),
div:nth-child(7),
div:nth-child(9),
div:nth-child(11),
div:nth-child(14),
div:nth-child(16) {
    width: 100%;
    height: 30vh;
    justify-self: center;

    z-index: 2;
    
}