* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
}

button{
    cursor: pointer;
}

a {
    color: inherit;
}

/* Cabeçalho */

.div_header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 20px;
    background-color: #FFEEF0;
    /* background-image: url(./banner-shape.png);  Colocar este background na div abaixo do header*/
}

/* Menu dropdown */

#section_dropdown{
    width: 100%;
    display: flex;
    justify-content: right;
    background-color: transparent;
    position: absolute;
    top: 70px;
    right: 28px;
    height: 40vh;
    z-index: 2;
}

#div_dropdown_on{ /* aqui é o menu desativado */
    width: 22%;
    background-color: #9d60d6;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 20px 0px;
    place-items: center;
    z-index: 2;
    color: white;
    border-radius: 10px;
    text-align: center;
    font-family: 'poppins';
    font-size: 14px;
    transform: scale(0);
}

#div_dropdown_on ul li{
    margin: 15px 0px 0px 0px;
    transition: all 400ms ease-in-out;
}

#div_dropdown_off{ /* Aqui é dentro do menu ativo */
    width: 22%;
    background-color: #9d60d6;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 20px 0px;
    place-items: center;
    z-index: 2;
    color: white;
    border-radius: 10px;
    text-align: center;
    font-family: 'poppins';
    font-size: 14px;
}

#div_dropdown_off ul li{
    margin: 15px 0px 0px 0px;
    transition: all 400ms ease-in-out;
}

#div_dropdown_off ul li:hover{
    color: #eaacff;
}

.logo {
    margin: 0px 0px 0px 60px;
}

#menu_bar_on {
    display: flex;
    flex-direction: row;
    width: 22%;
    justify-content: center;
}

#menu_bar_on img {
    cursor: pointer;
    z-index: 2;
}

#close_menu_dropdown{
    position: absolute;
}

.bar_off {
    transition: all 800ms ease-in-out;
    transform: scale(0);
}

.x_on{
    transition: all 1s ease-in-out;
    transform: scale(1) !important;
}

/* Cabeçalho */

.header_menu {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 57%;
    margin-left: 75px;
}

.header_menu li {
    margin: 0px 20px 0px 20px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #521384;
    text-transform: uppercase;
}

.header_menu li a{
    transition: all 300ms ease-in-out;
}

.header_menu li a:active {
    color: #ac0ede;
}

.header_menu li a:hover{
    color: #ac0ede;
}

/* Section_1 */

.section_1 {
    background-image: url(./banner-shape.png);
    background-size: 100%;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 70%;
    overflow: hidden;
}

.section_1_div {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    height: 80%;
    margin-left: 10%;
    margin-top: -20px;
}

.section_1_banner {
    margin-left: -90px;
    animation: float 2s infinite alternate;
}

@keyframes float {
    from {
        transform: translateY(-2%)
    }
    to {
        transform: translateY(3%);
    }
}

.section_1 h5{
    margin: 0px 0px 20px 0px ;
    font-family: 'poppins', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #ff1686;
    line-height: 28px;
}

.section_1 h1{
    color: #521384;
    font-size: 90px;
    font-weight: 800;
    font-family: 'poppins', sans-serif;
    line-height: 108px;
}

.section_1 h3{
    font-family: 'PT Serif';
    font-size: 16px;
    font-weight: 400;
    margin: 30px 0px 30px 0px;
}

.section_1 button{
    font-family: 'poppins', sans-serif;
    font-size: 15px;
    font-weight: 200;
    line-height: 15px;
    color: white;
    background-color: #521384;
    padding: 15px 40px 15px 40px;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    transition: all 400ms ease-in-out;
}

.section_1 button:hover{
    background: #B80EDE;
}

/* Section_2 */

.section_2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    place-content: center;
    place-items: center;
    margin: 0px 150px 0px 150px;
}

.section_2 img{
    transition: all 500ms ease;
}

.section_2 img:hover{
    transform: translateY(-20px);
}

/* Section_3 */

.section_3 {
    margin-top: 150px;
    background-image: url(./shape-services.png);
    background-repeat: no-repeat;
    background-position-y: 39%;
    background-position-x: right;
    background-size: 30%;
}

.section_3 h6{
    text-align: center;
    color: #B80EDE;
    font-size: 16px;
    font-weight: 200;
    font-family: 'poppins', sans-serif;
}

.section_3 h1 {
    text-align: center;
    color: #521384;
    font-size: 60px;
    font-family: 'poppins', sans-serif;
}

.div_section_3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-content: center;
    height: 500px;
    margin: 0px 85px 0px 85px;
}

.cards_section_3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 30px;
    font-family: 'poppins', sans-serif;
    box-shadow: 0px 0px 3px #d3d3d3;
    border: solid 1px white;
    margin: 0px 10px 0px 10px;
    border-radius: 19px;
    z-index: 1;
    background-color: white;
    transition: all 400ms ease-in-out;
}

.cards_section_3 img,h2,p{ /* A virgula serve para mostrar a quais elementos as mudanças serão aplicadas */
    margin: 10px 0px 10px 0px;
}

.cards_section_3 img{
    margin-bottom: 60px;
}

.cards_section_3 h2{
    color: #521384;
    font-weight: 100;
}

.cards_section_3 h3{
    font-family: 'PT Serif';
    font-size: 15px;
    font-weight: 400;
    color: #303030;
    line-height: 27px;
}

.cards_section_3 span{
    font-weight: 700;
    color: #521384;
}

.cards_section_3 h2{
    font-size: 30px;
}

.cards_section_3:hover,
.cards_section_3:focus{
    border: #ac0ede 1px solid;
}

/* Section_4 */

.section_4{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    background-image: url(./feature-one-background.png);
    background-repeat: no-repeat;
    width: 100%;
    background-position-x: -90px;
    background-position-y: 80px;
    background-size: 45%;
}

.section_4 div h2{
    font-family: 'poppins';
    font-weight: 600;
    font-size: 16px;
    color: #ac0ede;
}

.section_4 div h1{
    font-family: 'poppins';
    font-size: 50px;
    font-weight: 700;
    color: #521384;
}

.section_4 div h3{
    font-family: 'PT Serif';
    font-size: 16px;
    font-weight: 400;
    color: #252424;
    line-height: 30px;
}

.section_4 div button{
    text-transform: uppercase;
    padding: 14px 40px;
    border-radius: 8px;
    border: none;
    background: #676099;
    font-family: 'poppins';
    font-size: 15px;
    color: white;
    font-weight: 500;
    transition: all 400ms ease-in-out;
}

.section_4 div button:hover{
    background: #521384;
}

.section_4 h1,h2,h3,button{
    margin: 17px 0px;
}

.section_4 div{
    width: 80%;
}

.section_4 div:nth-child(2){
    margin-right: 80px;
}

.section_4 div img{
    margin-left: 70px;
}

/* Section 5 */

.section_5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.section_5 img {
    background-color: aqua;
}

.section_5_div1 {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
}