/* Login */

.section_popup {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    height: 100vh;
    width: 100%;
    backdrop-filter:blur(1.4px);
    background: #99999921;
    position: absolute;
    top: 0;
    transform: translate(0, -100%);
    transition: all 1s ease-in-out;
    z-index: 9999;
    overflow: hidden;
}

.section_popup_open {
    transform: translate(0,0);
}

.div_popup {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    width: 30%;
    height: 60%;
    border-radius: 20px;
    padding: 20px 10px;
}

.div_popup div{
    margin: 0px 20px 0px 20px;
}

.div_popup div:nth-child(1) {
    background-image: url(./logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.div_popup form {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0px 18px;
}

.div_popup div:nth-child(2) {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

.div_popup div:nth-child(2) h1 span{
    color: #FF9A00;
}

.div_popup div:nth-child(2) h1 {
    font-size: 30px;
}

.div_popup div:nth-child(2) label {
    font-size: 13px;
    color: gray;
}

.div_popup div:nth-child(2) input {
    border:none;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.315);
    padding: 10px;
}

.div_popup div:nth-child(3) button {
    padding: 10px 40px;
    border-radius: 14px;
    border: none;
    border: solid 1px grey;
    cursor: pointer;
}

.div_popup div:nth-child(3) button:nth-child(1) {
    color: gray;
}


.div_popup div:nth-child(3) button:nth-child(2) {
    color: white;
    background-color: #FF9A00;
    border: 1px solid #b97001;
}

/* Botão de login */

.section_login {
    width: 20%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
    overflow: hidden;
}

.section_login img {
    width: 12%;
    height: 40%;
    cursor: pointer;
}

.logo {
    width: 20%;
    display: flex;
    justify-content: center;
}

.logo img {
    width: 50%;
}

.btn_login {
    padding: 10px 15px;
    border-radius: 50px;
    border: none;
    background-color: #FF9A00;
    color: white;
    cursor: pointer;
    transition: all 400ms ease-out;
    overflow: hidden;
}

.btn_login img {
    position: relative;
    top: 2px;
    margin-left: 10px;
    background-image: url(./user.png);
}

.btn_login:hover,
.btn_login:focus{
    box-shadow: 0px 0px 10px #FF9A00;
}

/* Após login */
.foto_de_perfil {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 35px;
    border-radius: 50px;
    border: none;
    background-color: #FF9A00;
    color: white;
    cursor: pointer;
    transition: all 400ms ease-out;
    position: absolute;
    transform: scale(0);
}

.foto_de_perfil img {
    padding: 0;
    width: 20px;
    padding-right: 7px;
}


.btn_login_disabled {
    transform: scale(0);
}

.logado {
    transform: scale(1);
}

.logout {
    padding: 5px 10px;
    font-size: 10px;
}

/* Fazer animação de campo de login incorreto */

.campo_incorreto {
    border: 1px solid red !important;
    animation: incorreto alternate 800ms;
}

@keyframes incorreto {
    0% {
        transform: translateX(2px);
    }
    20% {
        transform: translateX(-2px);
    }
    40%{
        transform: translateX(2px);
    }
    60% {
        transform: translateX(-2px);
    }
    80% {
        transform: translateX(2px);
    }
    100% {
        transform: translateX(0px);
    }
}

.label_incorreto {
    color: red !important;
}

@media only screen and (max-width: 600px) {
    .section_popup {
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
        height: 100vh;
        width: 100%;
        backdrop-filter:blur(1.4px);
        background: #99999921;
        position: absolute;
        top: 0;
        transform: translate(0, -100%);
        transition: all 1s ease-in-out;
        z-index: 9999;
        overflow: hidden;
    }
    .section_login {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -10px;
        overflow: hidden;
    }
    .btn_login {
        padding: 8px 60px;
        border-radius: 50px;
        border: none;
        background-color: #FF9A00;
        color: white;
        cursor: pointer;
        transition: all 400ms ease-out;
        overflow: hidden;
    }
    .btn_login img {
        display: none;
    }
}