*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

a{
    color: inherit;
}

#main_section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #ff3300;
    padding: 20px 20px;
}

#div_1{
    display: flex;
    justify-content: left;
    align-items: center;
}

#div_1 ul{
    display: flex;
    color: white;
}

#div_1 ul li{
    margin: 0px 25px;
}

#div_2{
    display: flex;
    justify-content: right;
    align-items: center;
}

#div_2 img,span{
    margin: 0px 4px;
}

#div_2 img{
    width: 35px;
    height: 35px;
    cursor: pointer;
    position: absolute;
    right: 11%;
}

.ativado{
    background-color: #ff8533;
    border: 1px solid #ff8533;
    border-radius: 4px;
    width: 120px;
    height: 16px;
    transition: all 400ms ease-in-out;
}

.desativado{ /* Essa é uma classe que é adicionada no javascript */
    background-color: #ff3300;
    color: white;
    text-align: center;
    width: 120px;
}
