* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 129, 129);
}

header {
    background: yellow;
    width: auto;
    /* grid-column: 1/3; */ /* O cabeçalho começa no 1fr e termina no 3fr, ou seja ele vai ocupar a linha inteira pois no container defini que haveria 3fr */
    grid-area: h;
}

main {
    background: blue;
    width: auto;
    grid-area: m;
}

aside {
    background: green;
    width: auto;
    grid-area: a;
}

footer {
    background: red;
    width: auto;
    grid-area: f;
}

.container {
    display: grid;
    grid-template-columns: 3fr 1fr ;
    grid-template-rows: 20vh 60vh 20vh;
    grid-template-areas:
    "h h"
    "m a"
    "f f";
    /** aqui apontei as localizações de cada um dos componentes ficam, nomeei eles com as iniciais de seus nomes e disse que: h h, ou seja H vai ocupar completamente as 3fr (3fr diz que a coluna esta dividida em tres partes, e que 1fr é onde fica a última parte) que atribuí acima depois, disse que a segunda coluna seria dividida como o m coupando os 2fr e o a coupando 1fr, se eu fizesse isso utilizando 50% e 50% eles iam ficar divididos igualmente entre si, e quando colocado um ponto ao inves de uma letra significa que quero aquele espaço vazio*/                       
}

/* Propriedades de alinhamento */

/* 
Justify-content
align-content
justify-items
align-items
justify-self
align-self 
*/

/* 
justify é o eixo X
align é o eixo y
*/
