* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body,
html {
    font-family: 'poppins', sans-serif;
}

a {
    color: black;
}

li {
    list-style: none;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

progress {
    color: red !important;
    background-color: blue !important;
    background: red !important;
    width: 100px;
    height: 20px;
    
}
