* {
    padding: 0px;
    margin: 0px;
}

body{
    background-image: linear-gradient(30deg, blue, aqua);
    min-height: 100vh;
}

.secao1{
    position: absolute;
    top: 340px;
    left: 200px;
    z-index: 10;
}

div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
}

.div4 table {
    background-color: white;
    width: 55%;
    height: 40px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    margin-top: 4px;
}

.div4 table:active{
    transform: scale(0.8);
}

button{
    padding: 15px 30px 15px 30px;
    margin: 4px 4px 4px 4px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}

#tecladovirtual {
    width: 28%;
    height: 170px;
    background-image: linear-gradient(40deg, white, #f3f3f3);
    position: absolute;
    top: 50px;
    color: black;
    font-size: 20px;
    padding: 3px;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    width: 100%;

}

.tela {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    position: absolute;
}

button:active {
    transform: scale(0.8);
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}



@media only screen and (max-width: 600px) {
    * {
        padding: 0px;
        margin: 0px;
    }
    body {
        background-repeat: no-repeat;
        background-size: 100vh;
    }
    .secao1 {
        top: 340px;
        left: 1px;
        right: 1px;

    }
    #tecladovirtual {
        width: 74%;
        height: 170px;
        background-image: linear-gradient(40deg, white, #f3f3f3);
        position: absolute;
        top: 50px;
        color: black;
        font-size: 20px;
        padding: 3px;
    }
    button {
        padding: 8px;
    }
    button:active {
        transform: scale(0.8);
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;
    }
}