* {
    list-style: none;
    text-decoration: none;
}

body{
    margin: auto;
    width: 70%;
}

header{
    display: flex;
    justify-content: center;
    background-image: linear-gradient(20deg, blue, aqua);
    border-radius: 0px 0px 10px 10px;
    text-align: center;
}

section form label{
    font-size: 20px;
    text-align: center;
    position: relative;
    right: 30px;
}

section{
    margin-top: 1%;
    display: flex;
    justify-content: center;
    font-size: medium;
}

section button{
    margin: 5px;
    font-size: 20px;
}

table, th, td{
    border: 2px solid black;
    border-collapse: collapse;
    border-radius: 5px;
    font-size: medium;
}